.find-block {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 83px;
}

.coffee-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 320px 30px 320px;
    gap: 60px;
}